body {
    background-color: #efefef;
}
ul{
    margin: 15px;
    padding: 0;
}
ul li{
    margin: 5px;
}

.main {
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
@media (min-width:1200px) {
    .main {
        margin: 30px 100px 50px;
    }
}

@media (max-width:992px) {
    .main {
        margin: 30px 30px 50px;
    }
}